header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #00F0F6;
  border-bottom: 1px solid black;
  z-index: 2;
  height: 100px;
  line-height: 50px;
}

.main, .note-title {
  text-decoration: none;
}

.main:link, .note-title:link, .note-button:link, .main-page-button:link, .folder-button:link, .main-sidebar-button:link {
  color: black;
}

.main:active, .note-title:active, .note-button:active, .main-page-button:active, .folder-button:active, .main-sidebar-button:active {
  color: black;
}

.main:visited, .note-title:visited, .note-button:visited, .main-page-button:visited, .folder-button:visited, .main-sidebar-button:visited {
  color: black;
}

.wrapper {
  display: flex;
}

.main-sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  z-index: 1;
  padding-top: 102px;
  flex: 0 0 25%;
  justify-content: center;
  border-right: 1px solid black;
  background-color: #DA015C;
}

.main-sidebar-foldername {
  margin: 30px;
  text-align: center;
  font-weight: bold;
}

.folder-div {
  padding: 3px;
  margin: 0 12px 12px 12px;
  text-align: center;
}

.folderlist {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  padding-bottom: 0;
}

.folder-button, .main-sidebar-button, .go-back-button, input, textarea, .note-button, .main-page-button, .note-item {
  border: 1px solid black;
  background-color: #7EF600;
  padding: 3px;
  font-size: medium;
  text-decoration: none;
  border-radius: .5em;
}

.note-item, input, textarea {
  background-color: white;
}

.main-page-button {
  margin: 0 0 30px 42px;
}

.folder-button.active {
  background-color: white;
}

.main-sidebar-button-div {
  padding: 3px;
  margin: 0 27px 27px 27px;
  text-align: center;
}

.main-page, .main-page-addfolder, .main-page-addnote {
  flex: 1 1;
  padding-top: 102px;
  padding-bottom: 30px;
  margin-left: 25%;
  z-index: 0;
  height: 100vh;
  background-color: #F6F400;
}

.main-page-list, .main-page-list-addfolder, .main-page-list-addnote {
  list-style-type: none;
  margin: 0;
  padding: 30px 30px 0 30px;
}

.note-item {
  margin: 0 12px 12px 12px;
  padding: 9px;
  border: 1px solid black;
  position: relative;
}

.note-content {
  padding: 0 21px 21px 21px;
}

.note-date {
  font-size: small;
}

.note-button {
  margin: 0 9px 9px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-sidebar-go-back-button {
  padding: 3px;
  margin-top: 30px;
  text-align: center;
}

.addfolder-foldername, .addnote-notename, .addnote-notecontent, .addnote-notefolder {
  margin: 0 0 21px 0;
}

input, .textarea {
  width: 300px;
  border: 1px solid black;
}

.textarea {
  height: 180px;
}

@media only screen and (max-width: 660px) {
  .wrapper {
    flex-direction: column;
  }

  .main-sidebar {
    width: 100%;
    margin: 0;
    height: auto;
    padding-top: 100px;
    border-bottom: 1px solid black;
    background-color: #DA015C;
  }

  .main-sidebar-go-back-button {
    margin: 30px;
  }
  
  .mani-page.button {
    padding-bottom: 33px;
  }

  .main-page {
    margin: 0;
    padding-top: 300px;
    border-left: none;
  }

  .main-page-addfolder, .main-page-addnote {
    margin: 0 auto;
    padding: 75px 0 0 0;
  }

  .addfolder-form, .addnote-form {
    margin-left: 0;
    padding-top: 30px;
    text-align: center;
  }

  .main-page-list-addfolder, .main-page-list-addnote {
    padding: 120px 0 0 0;
  }

  .wrapper-note .main-page {
    padding-top: 240px;
  }

  input, .textarea {
    width: 200px;
    border: 1px solid black;
  }
  
  button {
    font-size: 2vw;
  }

  .folderlist {
    margin: 0;
  }

  button.note-button {
    margin: 3px 0 0 0;
    position: static !important;
    width: fit-content;
  }

  .note-item {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 300px) {
  input, .textarea {
    width: 150px;
    border: 1px solid black;
  }
}
